.contact{
  background-color: plum;
}
.fa-whatsapp{
  background: #2fff00;
  color: #ffffff !important;
  padding: 5px 6px;
  border-radius: 100%;
}

.fa-facebook{
  background: #001aff;
  color: #ffffff !important;
  padding: 5px 8px;
  border-radius: 100%;
}
.fa-instagram{
  background: #ff006f;
  color: #ffffff !important;
  padding: 5px 6px;
  border-radius: 100%;
}
