<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<section class="privacy">
    <br>
<br>
    <h1 class="text-center mb-5">
        PRIVACY POLICY

    </h1>
    <br>
    <br>
    
    <p >We respect your privacy and are committed to protecting it. The purpose of this Privacy Policy is to inform you what personally identifiable information we may collect and how it may be used. This statement only applies to this Website.</p>
    <br>
    <br>    
    <p class="text-center"><b>WHAT INFORMATION DO WE COLLECT AND HOW IS IT USED?</b></p>
        <div class="wrapper">
            
            <p><b>Automatically-Collected Information: </b> <br>We automatically collect certain information about you and the device with which you access the Website. For example, when you use the Website, we will log your IP address, operating system type, browser type, referring website, pages you viewed, and the dates/times when you accessed the Website. We may also collect information about actions you take when using the Website, such as links clicked.</p>
            
        </div>	
        
        <div class="wrapper">
            
            <p><b>Cookies: </b> <br>We may log information using cookies, which are small data files stored on your browser by the Website. We may use both session cookies, which expire when you close your browser, and persistent cookies, which stay on your browser until deleted, to provide you with a more personalized experience on the Website.</p>
            
        </div>
        <br>
        <br>
        <br>
        <!-- <p class="text-center"><b>WHAT INFORMATION DO WE COLLECT AND HOW IS IT USED?</b></p>
        <div class="wrapper">
            
            <p><b>Information You Voluntarily Submit to the Website:</b> <br>We may collect personal information from you such as your name or email address. For example, you may voluntarily submit information to the Website by leaving a comment, subscribing to a newsletter, or submitting a contact form. In addition, you are able to create a user profile, which allows you to create a username and password. We will store the username, but your password will not be visible in our records.</p>
            
        </div> -->
    </section>

